* {
    box-sizing: border-box;
}

:root {
    /* Using CSS Custom properties */
    --slt: #537188;
    --olv: #CBB279;
    --beige: #f7e6c4;
    --lol: #E1D4BB;
    --mainbackgroundcolor: #EEEEEE;
  }

 body {
    margin: 20px;
    background-color: var(--mainbackgroundcolor);
    font-family: sans-serif;
    
}

.heroheading {
    font-family: 'Passion One', cursive;
    font-size: 7rem;
    text-align: left;
    color: var(--slt);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px
}


.content {
    width: 100%;
    height: 100%;
}

.who-am-i {
    float: left;
    width: 23%;
    height: 100%;
    text-align: justify;
    font-size: 30px;
    padding: 10px;
    background-color: var(--slt);
    background-size: cover;
    background-position: top;
    color: var(--beige);
    border-radius: 30px;
    margin-right: 5px;
   
}
.button {
    
    color: var(--slt);
    border-radius: 12px;
    background-color: var(--lol);
    
}

.wai-text {
    font-size: 1.5rem;
    padding: auto;
}

.photo {
    width: 100%;
    border-radius: 50%;
    border: solid 3px white;
    align-content: center;
}
h2 {
    margin-bottom: 10px;
    color: var(--lol);
    font-family: 'Passion One', cursive;
    font-size: 2rem;
}

.title {
    margin-bottom: 10px;
    color: var(--slt);
    font-family: 'Passion One', cursive;
    font-size: 2rem;
    text-align: center;
}

.education {
    float: left;
    width: 37.5%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    background-color: var(--lol);
    background-size: cover;
    background-position: top;
    border-radius: 30px;
    

}

.edphoto {
    width: 50%;
    float: left
}
.work-history {
    float: right;
    width: 37.5%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    background-color: var(--lol);
    background-size: cover;
    background-position: top;
    border-radius: 30px;
}
.workphoto {
    width: 35%;
    float: left
}

.spotify {
    float: right;
    width: 37.5%;
    height: 100%;
    text-align: center;
    color: var(--slt);
    padding-top: 30px;
    background-color: var(--lol);
    background-size: cover;
    background-position: top;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 30px;
}

.tvshows {
    float: left;
    width: 37.5%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
    background-color: var(--lol);
    background-size: cover;
    background-position: top;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 30px;
}


.music {
    width: 40%;
    float: left;
}
.tele {
    width: 40%;
    float: left;
}
.spotiy-text {
    float: right;
}